{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup request</title>
</head>
<body>
    <main>
        {% include 'partials/tao-lamoureux.html' %}
        <div class="infosUserRequest">
            <h1 class="title-info-user">Voici quelques informations concernant l'utilisateur qui veut créer son compte :</h1>
            <p>pseudo : {{ user.username }}</p>
            <p>prénom: {{ user.first_name }}, nom:  {{ user.last_name }}</p>
            <p>email: {{ user.email }}</p>
        </div>
        <div class="decideRequestSignupD">
            <form action="" method="post">
                {% csrf_token %}
                <button name="accept" type="submit" class="acceptUserRequest">Accepter</button>
            </form>
            <form action="" method="post">
                {% csrf_token %}
                <button name="refuse" type="submit" class="refuseUserRequest">Refuser</button>
            </form>
        </div>
    </main>
    
    {% include 'partials/footer.html' %}
</body>
</html>
