{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main class="main_auth">
        {% include 'partials/tao-lamoureux.html' %}
        {% if messages %}
            <div class="messages" style="display: flex; justify-content: center; align-items: center; width: 100%;">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}" style="font-family: 'Courier New', Courier, monospace
                    ; font-size: 30px; font-weight: 900;">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <form class="auth" method="post" action="">
            <div class="title_auth_div">
                <p class="title_auth">Se connecter :</p>
            </div>
            {% if error %}
            <p class="error_auth">{{ error }}</p>
            {% endif %}
            {% csrf_token %}
            <div class="auth_inputs">
                <input type="text" placeholder="Username" class="auth_usr auth_input" id="username" name="username" required>
                <input type="password" placeholder="Password" class="auth_mdp auth_input" id="password" name="password" required>
            </div>
            <button class="auth_button" type="submit">-> Login <-</button>
            <button class="auth_button" type="button"><a href="{% url 'sign_up' %}" class="creat_account">Créer un compte</a></button>
        </form>
    </main>
    {% include 'partials/footer.html' %}
</body>
</html>
