{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
        <div class="main_404">
            <div class="div_404">
                <h1 class="titre_div_404">PageNotFound: Error404</h1>
                <p class="p_div_404">Nous sommes désolé, la page que vous cherchez est introuvable/pas finis ou commencé... Pour vous réconforter, regarder <a href="http://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer" class="a_p_div_404">Cette vidéo</a> relaxante ! </p>
            </div>
        </div>
    </main>
    {% include 'partials/footer.html' %}
</body>
</html>