{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>cloud</title>
</head>
<body>
    {% include 'partials/navbar.html' %}
    <main>
        <div class="cloud-links">
            {% for link in links %}
            <div class="titleLink">
                <a href="{{link.link}}">{{link.name}}</a>
            </div>
            {% endfor %}
        </div>
    </main>
    {% include 'partials/footer.html' %}
</body>
</html>