{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft server status</title>
</head>
<body>
    {% include 'partials/navbar.html' %}
    <main>
        <div class="title_server_status">
            <h1><a href="{% url 'minecraft-server' %}" style="color: black;">Minecraft servers status</a></h1>
        </div>
        {% for server in servers %}
        {% if server.on %}
        <div class="MCServerContainer">
            <h1 class="NameMCServer" style="color: green;">{{ server.name }} :</h1>
            <div class="logsMC" id="logsMC">
                <div class="response_logs" id="responses">

                </div>
                <div class="inputRcon">
                    <input type="hidden" id="serverName" value="{{ server.name }}">
                    <input type="search" class="inputRconSearch" placeholder="/type a command here >>" id="rconcommand">
                </div>
            </div>
            <div class="InfosMCServer">
                <div class="playersMCServer">
                    <h1>{{ server.status.players.online }}/{{ server.status.players.max }} joueurs connectés</h1>
                </div>
                <div class="otherInfoMCServer">
                    <p>
                        Version : {{ server.status.version.name }} <br>
                        Motd : {{ server.status.motd.raw.text }} <br>
                        Latency : {{ server.status.latency }}ms <br>
                    </p>
                </div>

            </div>
            <div class="ButtonMCServer">
                <form action="" method="POST" class="StopMCServer">
                    {% csrf_token %}
                    <button name="shutdown" type="submit" >Shutdown</button>
                    <input type="hidden" value="{{server.name}}" name="ServerName">
                </form>
            </div>
        </div>
        {% else %}
        <h1 class="NameMCServer" style="display: flex; justify-content: center; color: red;">{{ server.name }} est hors ligne</h1>
        {% endif %}
        {% endfor %}
    </main>
    {% include 'partials/footer.html' %}
</body>
<script>
    var scrollableDiv = document.getElementById("logsMC");
    scrollableDiv.scrollTop = scrollableDiv.scrollHeight;
    
    document.addEventListener('DOMContentLoaded', (event) => {
        let url = `ws://${window.location.host}/wss/MC-server/`;
        var inputRcon = document.getElementById('rconcommand');
        var serverName = document.getElementById('serverName');
        var dresponses = document.getElementById('responses');
        
        const serverSocket = new WebSocket(url);

        serverSocket.onopen = function() {
            console.log('WebSocket connection established');
            // Ici vous pouvez envoyer une commande RCON
            // serverSocket.send(JSON.stringify({}));
        };
        serverSocket.onmessage = function(e) {
            let data = JSON.parse(e.data);
            var response = data['response']
            console.log(response);
            if (response){
                dresponses.innerHTML += response + "<br>"
            }
        };

        serverSocket.onerror = function(error) {
            console.log('WebSocket error: ', error);
        };

        serverSocket.onclose = function() {
            console.log('WebSocket connection closed');
        };
        inputRcon.addEventListener('keydown', (event) => {
            if (event.key === 'Enter') {  // S'assurer que l'événement n'est déclenché que sur la touche "Enter"
                if (inputRcon.value != "") {
                    serverSocket.send(JSON.stringify({
                        'command': inputRcon.value,
                        'server': serverName.value
                    }))
                    dresponses.innerHTML += "/" + inputRcon.value + "<br>"
                    inputRcon.value = ""
                }
            }
        });
    });
</script>
</html>