{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espace_CT - Projets</title>
    <script src="{% static 'js/recherche.js' %}"></script>
</head>
<body class="body_Tous_les_projets">
    {% include 'partials/navbar.html' %}
    <main>
        <div class="div_tous_mes_projets">
            <div class="input_rechercher_div">
                <input type="text" id="inputRecherche" placeholder="Recherchez parmi les {{ numberProjects }} projets déjà existants !">
                <p id="pResultatRecherche"></p>
            </div>
            <h1 class="Titre_div_tous_mes_projets">Voici tous mes projets !</h1>
            {% if request.user.is_superuser %}
            <div class="projects_management">
                <div class="button_projects_management">
                    <button class="b_projects_management"><span class="A_projects_management" id="buttonManageProjects"></span></button>
                </div>
            </div>
            {% endif %}
            <div class="ensemble_plus_dinfo_div_tous_mes_projets">
                <div class="nombre_projets_div_tous_mes_projets">
                    <p class="projets_finis_div_tous_mes_projets"><span id="projetsFinis" class="nombre_projets_finis-existants_div_tous_mes_projets">{{ finishedProjects }}</span> projets finis !</p>
                    <p class="projets_existant_div_tous_mes_projets"><span id="projetsExistants" class="nombre_projets_finis-existants_div_tous_mes_projets projet_existant_js">{{ numberProjects }}</span> projets existants !</p>
                </div>
                <p class="projets_non_terminés_div_tous_mes_projets">(pour linstant, plusieurs projet ne sont pas encore fait ou terminés, ils ont un # à la fin de leur titre, et un nombre pour leur priorité)</p>
            </div>
            <svg version="1.1" id="curved-border" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1600 116.19" xml:space="preserve">
                <path class="wave" d="M0.1,119.43V67.45c0,0,99.87,71.51,322.45,8.12c5.56-1.66,92.01-26.52,125.74-35.72
                c77.28-21.08,219.28-41.4,311.28-38.34c233,7.77,323.98,82.1,469.23,96.61c149.64,14.94,288.45-12.46,371.26-36.99v55.34L0.1,119.43
                z"/>
            </svg>
        </div>
        {% if request.user.is_superuser %}
        <div class="button_projects_management" style="display: flex; justify-content: center;" id="dbuttonAddProjects">
            <button class="b_projects_management"><span class="A_projects_management" id="buttonAddProjects">+ Ajouter un projet +</span></button>
        </div>
        {% endif %}
        <div class="projets_container">
            {% if request.user.is_superuser %}
            {% if errors %}
            <ul>
                {{ errors }}
            </ul>
            {% endif %}
            <div class="nv_carte_projet" id="nvCarteProject">
                <form method="POST" action="{% url 'Projects' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="nv_texte_carte_projet">
                        <div class="title_priority_carte_projets">
                            <input name="title" type="text" placeholder="Titre" class="titre_de_Projet nv_titre_projet" required>
                            <input name="priority" type="number" placeholder="priorité" class="titre_de_Projet nv_titre_projet" required>
                        </div>
                        <textarea name="description" class="nv_description_projet" placeholder="description" required></textarea>
                        <input type="date" name="date" class="nv_titre_projet titre_de_Projet" placeholder="date de création" required>
                    </div>
                    <div class="links_carte_projets">
                        <input name="images" type="file" accept="image/*" class="nv_img_project bouton_projet" placeholder="Image" required>
                        <input name="url_placeholder" type="text" class="nv_bouton_projet" placeholder="nom du lien" required>
                        <input name="url" type="text" class="nv_bouton_projet" placeholder="lien" required>
                        <button name="nvProject" type="submit" class="nv_bouton_projet">Enregistrer</button>
                    </div>
                </form>
            </div>
            {% endif %}
            {% if ProjectsF or ProjectsU%}
            {% for item in ProjectsF %}
            <div class="carte_projets_editing_buttons" >
                {% if request.user.is_superuser %}
                {% include 'partials/editing_projects_buttons.html' %}
                {% endif %}
                <div class="carte_projet">
                    <div class="texte_carte_projet">
                        <h4 class="titre_de_Projet">{{ item.title }} 
                            {% if item.priority != 0 %}
                            #{{ item.priority }}
                            {% endif %}
                        </h4>
                        <p class="description_projet">
                            {{ item.description }}
                        </p>
                        <p class="description_projet">Commencé le {{ item.date }}</p>
                    </div>
                    <img class="img_projet" src="{{ item.images.url }}" alt="">
                    <a href="{{ item.url }}" ><button class="bouton_projet">{{ item.url_placeholder }}</button></a>
                </div>
            </div>
            {% endfor %}
            {% for item in ProjectsU %}
            <div class="carte_projets_editing_buttons" >
                {% if request.user.is_superuser %}
                {% include 'partials/editing_projects_buttons.html' %}
                {% endif %}
                <div class="carte_projet">
                    <div class="texte_carte_projet">
                        <h4 class="titre_de_Projet">{{ item.title }} 
                            {% if item.priority != 0 %}
                            #{{ item.priority }}
                            {% endif %}
                        </h4>
                        <p class="description_projet">
                            {{ item.description }}
                        </p>
                        <p class="description_projet">Commencé le {{ item.date }}</p>
                    </div>
                    <img class="img_projet" src="{{ item.images.url }}" alt="">
                    <a href="{{ item.url }}" ><button class="bouton_projet">{{ item.url_placeholder }}</button></a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h1 style="display: flex; justify-content: center;">Il n'y a aucun projets 😭.</h1>
            {% endif %}

            <h1 class="title_project_ideas" id="titleProjectIdea">Idées de projets</h1>
            {% if request.user.is_superuser %}
            <div class="button_projects_management" style="display: flex; justify-content: center;" id="dbuttonAddProjectsIdeas">
                <button class="b_projects_management"><span class="A_projects_management" id="buttonAddProjects">+ Ajouter un projet +</span></button>
            </div>
            <div class="nv_carte_projet" id="nvCarteProjectIdea">
                <form method="POST" action="{% url 'Projects' %}" enctype="multipart/form-data" name="nvIdeaProject">
                    {% csrf_token %}
                    <div class="nv_texte_carte_projet" style="width: 50%;">
                        <div class="title_priority_carte_projets">
                            <input name="title" type="text" placeholder="Titre" class="titre_de_Projet nv_titre_projet" required>
                            <input name="priority" type="number" value="-1" hidden>
                        </div>
                        <textarea name="description" class="nv_description_projet" placeholder="description" required></textarea>
                        <input type="date" name="date" value="01-01-2001" hidden>
                    </div>
                    <div class="links_carte_projets">
                        <input name="images" type="file" accept="image/*" class="nv_img_project bouton_projet" placeholder="Image" required>
                        <input name="url_placeholder" type="text" class="nv_bouton_projet" placeholder="nom du lien" required>
                        <input name="url" type="text" class="nv_bouton_projet" placeholder="lien" required>
                        <button name="nvProjectIdea" type="submit" class="nv_bouton_projet">Enregistrer</button>
                    </div>
                </form>
            </div>
            {% endif %}
            {% if ProjectsIdeas %}
            {% for item in ProjectsIdeas %}
            <div class="carte_projets_editing_buttons" >
                {% if request.user.is_superuser %}
                {% include 'partials/editing_projects_buttons.html' %}
                {% endif %}
                <div class="carte_projet">
                    <div class="texte_carte_projet">
                        <h4 class="titre_de_Projet">{{ item.title }} 
                            {% if item.priority == -1 %}
                            #Idée
                            {% elif item.priority != 0 %}
                            #{{ item.priority }}
                            {% endif %}
                        </h4>
                        <p class="description_projet">
                            {{ item.description }}
                        </p>
                        <p class="description_projet">Idée survenue le {{ item.date }}</p>
                    </div>
                    <img class="img_projet" src="{{ item.images.url }}" alt="">
                    <a href="{{ item.url }}" ><button class="bouton_projet">{{ item.url_placeholder }}</button></a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h1 class="title_project_ideas">Il n'y a aucune idées de Projets.</h1>
            {% endif %}
        </div>
    </main>
    {% include 'partials/footer.html' %}
    <script src="{% static 'js/manage-projects.js' %}"></script>
</body>
</html>