{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espace_CT - IMC</title>
    <script src="{% static 'js/script_calculer_IMC.js' %}"></script>
</head>
<body class="body_calculer_IMC">,
    {% include 'partials/navbar.html' %}
    <main>
        <div class="calculer_IMC">
            <h2 class="titre_calculer_IMC">Bonjour, calculons votre IMC !</h2>
            <form class="inputs_calculer_IMC" method="POST">
                {% csrf_token %}
                <label for="age">Votre age en années :</label>
                <input type="number" id="age" name="age" placeholder="age" required>
                <label for="taille">Votre taille en centimètres :</label>
                <input type="number" id="taille" name="taille" placeholder="taille" required>
                <label for="poids">Votre poids en kilogrammes :</label>
                <input type="number" id="poids" name="poids" placeholder="poids">
                <input id="calculer-imc-btn" type="submit" value="Calculer l'IMC" required>
            </form>
        </div>
        <div class="svg_et_titre_voir_les_resultat">
            <div class="titre_voir_les_resultats">
                <h2>Regardez en bas les résultats !</h2>
            </div>
            <div class="img_voir_les_resultats">
                <img src="{% static 'svg/traît_calculer_IMC.svg' %}" class="svg_calculer_IMC">
            </div>
        </div>
        <div class="resultats_calculer_IMC">
            <h2 id="titre_resultats_calculer_IMC"></h2>
            <p id="resultat-imc"></p>
        </div>
        <div id="plus-dinfo_resultat_calculer_IMC">
            <p id="phrase_plus-dinfo_resultat_calculer_IMC"></p>
        </div>
    </main>
    {% include 'partials/footer.html' %}
</body>
</html>