{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube video importer</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'partials/navbar.html' %}
    <main>
        <div class="title_yt_video_importer">
            <h1 class="Titre_div_tous_mes_projets">Importeur de video YouTube</h1>
        </div>
        <svg version="1.1" id="curved-border" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1600 116.19" xml:space="preserve">
            <path class="wave" d="M0.1,119.43V67.45c0,0,99.87,71.51,322.45,8.12c5.56-1.66,92.01-26.52,125.74-35.72
            c77.28-21.08,219.28-41.4,311.28-38.34c233,7.77,323.98,82.1,469.23,96.61c149.64,14.94,288.45-12.46,371.26-36.99v55.34L0.1,119.43
            z"/>
        </svg>
        {% if not video %}
        <div class="d_form-video-importer">
            {% if error %}
            {{ error }}
            {% endif %}
            <form action="" method="POST" class="form-video-importer" id="form">
                {% csrf_token %} 
                <label for="link" class="lbl_link_video_importer">Lien de la vidéo :</label>
                <input type="text" class="inpt_link_yt_importer" name="link" id="link" placeholder="url de la vidéo" required>
                <button name="search" type="submit" id="submit" class="inpt_sub_yt_importer">Importer la vidéo</button>
            </form>
        </div>
        {% endif %}
        {% if video %}
        <div class="try_again">
            <button type="button"><a href="{% url 'yt-video-importer' %}">Réessayer</a></button>
        </div>
        <div class="container_settings_to_video">
            <div class="settings_to_video" id="settings"">
                <div class="infos_video">
                    <h1><a href="{{ link }}">{{ video.title }}</a></h1>
                    <h1>Auteur : <a href="{{ video.channel_url }}">{{ author }}</a></h1>
                </div>
                <form action="" method="POST" class="form-settings-video-importer" id="form">
                    {% csrf_token %}
                    <input type="hidden" value="{{link}}" name="link">
                    <div class="format_form_settings">
                        <label for="format">Format</label>
                        <select id="format" name="options[]">
                            <option value="video">video</option>
                            <option value="audio">audio</option>
                        </select>
                    </div>
                    <button name="import" type="submit" class="inpt_sub_yt_importer" style="border: #222 solid 2px; padding: 10px; border-radius: 5px;">
                       -> Télécharger <-
                    </button>
                </form>
            </div>
        </div>
        {% endif %}
        
    </main>
    {% include 'partials/footer.html' %}
</body>
</html>